.P_keyword-3 {color: #c1608d; }
.P_string-3 {color: #5d72b2; }
.P_number-3 {color: #db7979; }
.P_char-3 {color: #dba6a6; }
.P_type-3 {color: #4caac9; }
.P_identifier-3 {color: #4c4c4c; }
.P_call-3 {color: #845784; }
.P_toplevel-3 {color: #a657a6; }
.P_comment-3 {color: #939593; }
.P_doccomment-3 {color: #886470; }
.P_special-3 {color: #576e57; }
.P_special2-3 {color: #578457; }
.P_special3-3 {color: #578f57; }
.P_curly-3 {color: #626e6e; }
.P_brackets-3 {color: #62846e; }
.P_parentheses-3 {color: #6e846e; }
.P_ignore-3 {color: #585858; }
.P_commitMain-3 {background: #dd80dd; color: #707070; }
.P_commitMerge-3 {background: #dd80dd; color: #88884c; }
.P_commitOther-3 {background: #cc77cc; color: #707070; }
.P_commitMsg-3 {color: #707070; }
.P_commitMsgByLines-3 {color: #ffcfff; }
.P_diffMain-3 {background: #77b0e0; color: #707070; }
.P_diffMainExtra-3 {background: #7790e0; color: #707070; }
.P_diffRemove-3 {background: #ffcccc; color: #707070; }
.P_diffAdd-3 {background: #ccffcc; color: #707070; }
.P_diffMarkAdd-3 {background: #99ff99; color: #707070; }
.P_diffMarkRemove-3 {background: #ff9999; color: #707070; }
.P_diffRemoveFile-3 {background: #cccccc; color: #707070; }
.P_diffAddFile-3 {background: #dddddd; color: #707070; }
.P_diffHunkHeader-3 {background: #99ccdd; color: #878787; }
.P_default-3 {background: #f5f5f5; color: #585858; }
.P_keyword-4 {color: #bd5585; }
.P_string-4 {color: #5168ac; }
.P_number-4 {color: #d86f6f; }
.P_char-4 {color: #d89f9f; }
.P_type-4 {color: #3fa4c6; }
.P_identifier-4 {color: #3f3f3f; }
.P_call-4 {color: #7b4b7b; }
.P_toplevel-4 {color: #9f4b9f; }
.P_comment-4 {color: #8c8d8c; }
.P_doccomment-4 {color: #7f5966; }
.P_special-4 {color: #4b634b; }
.P_special2-4 {color: #4b7b4b; }
.P_special3-4 {color: #4b874b; }
.P_curly-4 {color: #576363; }
.P_brackets-4 {color: #577b63; }
.P_parentheses-4 {color: #637b63; }
.P_ignore-4 {color: #4c4c4c; }
.P_commitMain-4 {background: #dd80dd; color: #666666; }
.P_commitMerge-4 {background: #dd80dd; color: #7f7f3f; }
.P_commitOther-4 {background: #cc77cc; color: #666666; }
.P_commitMsg-4 {color: #666666; }
.P_commitMsgByLines-4 {color: #ffccff; }
.P_diffMain-4 {background: #77b0e0; color: #666666; }
.P_diffMainExtra-4 {background: #7790e0; color: #666666; }
.P_diffRemove-4 {background: #ffcccc; color: #666666; }
.P_diffAdd-4 {background: #ccffcc; color: #666666; }
.P_diffMarkAdd-4 {background: #99ff99; color: #666666; }
.P_diffMarkRemove-4 {background: #ff9999; color: #666666; }
.P_diffRemoveFile-4 {background: #cccccc; color: #666666; }
.P_diffAddFile-4 {background: #dddddd; color: #666666; }
.P_diffHunkHeader-4 {background: #99ccdd; color: #7e7e7e; }
.P_default-4 {background: #f5f5f5; color: #4c4c4c; }
.P_keyword {color: #a71d5d; }
.P_string {color: #183691; }
.P_number {color: #cc4040; }
.P_char {color: #cc8080; }
.P_type {color: #0086b3; }
.P_identifier {color: #000000; }
.P_call {color: #501050; }
.P_toplevel {color: #801080; }
.P_comment {color: #666866; }
.P_doccomment {color: #552233; }
.P_special {color: #103010; }
.P_special2 {color: #105010; }
.P_special3 {color: #106010; }
.P_curly {color: #203030; }
.P_brackets {color: #205030; }
.P_parentheses {color: #305030; }
.P_ignore {color: #111111; }
.P_commitMain {background: #dd80dd; color: #333333; }
.P_commitMerge {background: #dd80dd; color: #555500; }
.P_commitOther {background: #cc77cc; color: #333333; }
.P_commitMsg {color: #333333; }
.P_commitMsgByLines {color: #ffbbff; }
.P_diffMain {background: #77b0e0; color: #333333; }
.P_diffMainExtra {background: #7790e0; color: #333333; }
.P_diffRemove {background: #ffcccc; color: #333333; }
.P_diffAdd {background: #ccffcc; color: #333333; }
.P_diffMarkAdd {background: #99ff99; color: #333333; }
.P_diffMarkRemove {background: #ff9999; color: #333333; }
.P_diffRemoveFile {background: #cccccc; color: #333333; }
.P_diffAddFile {background: #dddddd; color: #333333; }
.P_diffHunkHeader {background: #99ccdd; color: #545454; }
.P_default {background: #f5f5f5; color: #111111; }
.P_keyword-3-b {color: #c1608d; font-weight: bold; }
.P_string-3-b {color: #5d72b2; font-weight: bold; }
.P_number-3-b {color: #db7979; font-weight: bold; }
.P_char-3-b {color: #dba6a6; font-weight: bold; }
.P_type-3-b {color: #4caac9; font-weight: bold; }
.P_identifier-3-b {color: #4c4c4c; font-weight: bold; }
.P_call-3-b {color: #845784; font-weight: bold; }
.P_toplevel-3-b {color: #a657a6; font-weight: bold; }
.P_comment-3-b {color: #939593; font-weight: bold; }
.P_doccomment-3-b {color: #886470; font-weight: bold; }
.P_special-3-b {color: #576e57; font-weight: bold; }
.P_special2-3-b {color: #578457; font-weight: bold; }
.P_special3-3-b {color: #578f57; font-weight: bold; }
.P_curly-3-b {color: #626e6e; font-weight: bold; }
.P_brackets-3-b {color: #62846e; font-weight: bold; }
.P_parentheses-3-b {color: #6e846e; font-weight: bold; }
.P_ignore-3-b {color: #585858; font-weight: bold; }
.P_commitMain-3-b {background: #dd80dd; color: #707070; font-weight: bold; }
.P_commitMerge-3-b {background: #dd80dd; color: #88884c; font-weight: bold; }
.P_commitOther-3-b {background: #cc77cc; color: #707070; font-weight: bold; }
.P_commitMsg-3-b {color: #707070; font-weight: bold; }
.P_commitMsgByLines-3-b {color: #ffcfff; font-weight: bold; }
.P_diffMain-3-b {background: #77b0e0; color: #707070; font-weight: bold; }
.P_diffMainExtra-3-b {background: #7790e0; color: #707070; font-weight: bold; }
.P_diffRemove-3-b {background: #ffcccc; color: #707070; font-weight: bold; }
.P_diffAdd-3-b {background: #ccffcc; color: #707070; font-weight: bold; }
.P_diffMarkAdd-3-b {background: #99ff99; color: #707070; font-weight: bold; }
.P_diffMarkRemove-3-b {background: #ff9999; color: #707070; font-weight: bold; }
.P_diffRemoveFile-3-b {background: #cccccc; color: #707070; font-weight: bold; }
.P_diffAddFile-3-b {background: #dddddd; color: #707070; font-weight: bold; }
.P_diffHunkHeader-3-b {background: #99ccdd; color: #878787; font-weight: bold; }
.P_default-3-b {background: #f5f5f5; color: #585858; font-weight: bold; }
.P_keyword-4-b {color: #bd5585; font-weight: bold; }
.P_string-4-b {color: #5168ac; font-weight: bold; }
.P_number-4-b {color: #d86f6f; font-weight: bold; }
.P_char-4-b {color: #d89f9f; font-weight: bold; }
.P_type-4-b {color: #3fa4c6; font-weight: bold; }
.P_identifier-4-b {color: #3f3f3f; font-weight: bold; }
.P_call-4-b {color: #7b4b7b; font-weight: bold; }
.P_toplevel-4-b {color: #9f4b9f; font-weight: bold; }
.P_comment-4-b {color: #8c8d8c; font-weight: bold; }
.P_doccomment-4-b {color: #7f5966; font-weight: bold; }
.P_special-4-b {color: #4b634b; font-weight: bold; }
.P_special2-4-b {color: #4b7b4b; font-weight: bold; }
.P_special3-4-b {color: #4b874b; font-weight: bold; }
.P_curly-4-b {color: #576363; font-weight: bold; }
.P_brackets-4-b {color: #577b63; font-weight: bold; }
.P_parentheses-4-b {color: #637b63; font-weight: bold; }
.P_ignore-4-b {color: #4c4c4c; font-weight: bold; }
.P_commitMain-4-b {background: #dd80dd; color: #666666; font-weight: bold; }
.P_commitMerge-4-b {background: #dd80dd; color: #7f7f3f; font-weight: bold; }
.P_commitOther-4-b {background: #cc77cc; color: #666666; font-weight: bold; }
.P_commitMsg-4-b {color: #666666; font-weight: bold; }
.P_commitMsgByLines-4-b {color: #ffccff; font-weight: bold; }
.P_diffMain-4-b {background: #77b0e0; color: #666666; font-weight: bold; }
.P_diffMainExtra-4-b {background: #7790e0; color: #666666; font-weight: bold; }
.P_diffRemove-4-b {background: #ffcccc; color: #666666; font-weight: bold; }
.P_diffAdd-4-b {background: #ccffcc; color: #666666; font-weight: bold; }
.P_diffMarkAdd-4-b {background: #99ff99; color: #666666; font-weight: bold; }
.P_diffMarkRemove-4-b {background: #ff9999; color: #666666; font-weight: bold; }
.P_diffRemoveFile-4-b {background: #cccccc; color: #666666; font-weight: bold; }
.P_diffAddFile-4-b {background: #dddddd; color: #666666; font-weight: bold; }
.P_diffHunkHeader-4-b {background: #99ccdd; color: #7e7e7e; font-weight: bold; }
.P_default-4-b {background: #f5f5f5; color: #4c4c4c; font-weight: bold; }
.P_keyword-b {color: #a71d5d; font-weight: bold; }
.P_string-b {color: #183691; font-weight: bold; }
.P_number-b {color: #cc4040; font-weight: bold; }
.P_char-b {color: #cc8080; font-weight: bold; }
.P_type-b {color: #0086b3; font-weight: bold; }
.P_identifier-b {color: #000000; font-weight: bold; }
.P_call-b {color: #501050; font-weight: bold; }
.P_toplevel-b {color: #801080; font-weight: bold; }
.P_comment-b {color: #666866; font-weight: bold; }
.P_doccomment-b {color: #552233; font-weight: bold; }
.P_special-b {color: #103010; font-weight: bold; }
.P_special2-b {color: #105010; font-weight: bold; }
.P_special3-b {color: #106010; font-weight: bold; }
.P_curly-b {color: #203030; font-weight: bold; }
.P_brackets-b {color: #205030; font-weight: bold; }
.P_parentheses-b {color: #305030; font-weight: bold; }
.P_ignore-b {color: #111111; font-weight: bold; }
.P_commitMain-b {background: #dd80dd; color: #333333; font-weight: bold; }
.P_commitMerge-b {background: #dd80dd; color: #555500; font-weight: bold; }
.P_commitOther-b {background: #cc77cc; color: #333333; font-weight: bold; }
.P_commitMsg-b {color: #333333; font-weight: bold; }
.P_commitMsgByLines-b {color: #ffbbff; font-weight: bold; }
.P_diffMain-b {background: #77b0e0; color: #333333; font-weight: bold; }
.P_diffMainExtra-b {background: #7790e0; color: #333333; font-weight: bold; }
.P_diffRemove-b {background: #ffcccc; color: #333333; font-weight: bold; }
.P_diffAdd-b {background: #ccffcc; color: #333333; font-weight: bold; }
.P_diffMarkAdd-b {background: #99ff99; color: #333333; font-weight: bold; }
.P_diffMarkRemove-b {background: #ff9999; color: #333333; font-weight: bold; }
.P_diffRemoveFile-b {background: #cccccc; color: #333333; font-weight: bold; }
.P_diffAddFile-b {background: #dddddd; color: #333333; font-weight: bold; }
.P_diffHunkHeader-b {background: #99ccdd; color: #545454; font-weight: bold; }
.P_default-b {background: #f5f5f5; color: #111111; font-weight: bold; }
