#footer {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  color: #444444;

  a {
    color: #444444;
  }

  ul {
    box-sizing: border-box;
    display: block;
    line-height: 20pt;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-left: 0px;
  }

  li {
    box-sizing: border-box;
    display: inline-block;
    line-height: 20pt;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-right: 5px;
    padding-left: 5px;
  }
}

