<footer id="footer">
                <div class="row"><hr /></div>
                <div class="row">
                    <ul class="list-inline text-center">
                        <li>
                            <i class="fa fa-github"></i>
                            <a href="http://github.com/da-x">github</a>
                        </li>
                        <li>
                            <i class="fa fa-twitter-square"></i>
                            <a href="http://twitter.com/DanAloni">twitter</a>
                        </li>
                        <li>
                            <i class="fa fa-linkedin"></i>
                            <a href="http://linkedin.com/in/aloni">linkedin</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <a href="mailto:alonid@gmail.com">alonid@gmail.com</a>
                        </li>
                        <a href="/rss.xml"><img src="/images/rss.gif" width="36" height="14">
                        <li>© 2010-$year$ Dan Aloni</li>
                    </ul>
                </div>
                <div class="row text-center">
                    Powered by  <a href="http://jaspervdj.be/hakyll">Hakyll</a> ;
                    <a href="https://github.com/da-x/hakyll-site/blob/master/LICENSE">notice</a>
                </div>
</footer>

$if(preview)$
  $pushJS$
$endif$

$commentsJS$

<!-- google analytics -->
<!--MathJax CDN-->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    messageStyle: "none"
  });

  MathJax.Hub.Register.MessageHook('End Process', function() {
    jQuery('#MathJax_Font_Test').empty();
    jQuery('.MathJax_Display').parent('.math').addClass('mobile-math');
  });
</script>
<script async="true" type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
</script>
